@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Asap-Regular.ttf');
}

body {
  font-family: 'Asap', Helvetica;
}

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

.app-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  color: white;
  background-color: #1d508d;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.22s, background-color 0.12s;
}

button:focus {
  outline: 0;
}

button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.message {
  min-height: 1.15rem;
}

.message.error {
  color: red;
}

.message.success {
  color: green;
}

input {
  display: block;
  height: 1rem;
  width: 100%;
  margin: 0.5rem 0rem 1rem 0rem;
}

label {
  margin: 0.5rem 0rem;
}
