.modal {
  width: 20rem;
  min-height: 5rem;
  padding: 2rem 2rem 1rem 2rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: calc((100% - 24rem) / 2);
  z-index: 1002;
}

.modal-header h1 {
  margin: 0rem 0rem 1rem 0rem;
  font-size: 2rem;
  text-align: center;
}

.modal-content {
  margin: 2rem 0rem;
}

.modal-content form {
  height: auto;
}

.modal-actions {
  display: flex;
  justify-content: space-evenly;
}

.modal-btn-cancel {
  background-color: red;
}

.modal-btn-cancel:active {
  background-color: rgb(255, 127, 127);
}

.modal-btn-confirm {
  background-color: green;
}

.modal-btn-confirm:active {
  background-color: rgb(92, 168, 92);
}
